@import "tailwindcss";

:root {
  --text: #4a443f; /* brun doux type pierre */
  --text-h: #1f1a17; /* texte plus profond */

  --bg: #fffaf3; /* blanc chaud provençal */
  --border: #e7dccb; /* sable clair */

  --code-bg: #f3efe6; /* beige lavande très doux */

  --accent: #e07a2f; /* orange provence (terre cuite soleil) */
  --accent-bg: rgba(224, 122, 47, 0.12);
  --accent-border: rgba(224, 122, 47, 0.45);

  --primary: rgba(239, 149, 14, 0.12);
  --secondary-bg: rgba(243, 135, 12, 0.12);


  --secondary: #4f8a5b; /* vert olivier */
  --secondary-bg: rgba(79, 138, 91, 0.12);
  --secondary-border: rgba(79, 138, 91, 0.45);

  --social-bg: rgba(243, 239, 230, 0.6);

  --shadow:
    rgba(0, 0, 0, 0.08) 0 10px 25px -5px,
    rgba(0, 0, 0, 0.04) 0 6px 10px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}